/* Routes Accordion ---------------------- */
.routes-and-schedules-accordion {
    margin: 0 0 22px 0 !important;
    padding: 0 !important;
    border-bottom: 1px solid #e9e9e9 !important;
}
.routes-and-schedules-accordion-li {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border-top: 1px solid #e9e9e9 !important;
    font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif !important;
}
.routes-and-schedules-accordion-title {
    cursor: pointer !important;
    background: #f6f6f6 !important;
    padding: 15px !important;
    margin: 0 !important;
    position: relative !important;
    border-left: 1px solid #e9e9e9 !important;
    border-right: 1px solid #e9e9e9 !important;
    -webkit-transition: 0.15s background linear !important;
    -moz-transition: 0.15s background linear !important;
    -o-transition: 0.15s background linear !important;
    transition: 0.15s background linear !important;
    color: rgb(34, 34, 34) !important;
    text-rendering: optimizeLegibility !important;
    line-height: 1.1 !important;
}
.routes-and-schedules-accordion-route-name {
    margin: 0 !important;
    color: #333399 !important;
    font-family: "OpenSans", sans-serif !important;
    font-size: 17px !important;
    font-weight: 500 !important;
}
.routes-and-schedules-accordion-route-service-area {
    font-size: 12px !important;
    line-height: 1.6 !important;
}
.routes-and-schedules-accordion-title:hover {
  background: #E6E6E6 !important;
}
.routes-and-schedules-accordion-title:after {
    content: "" !important;
    display: block !important;
    width: 0 !important;
    height: 0 !important;
    border: solid 6px !important;
    border-color: transparent #9d9d9d transparent transparent !important;
    position: absolute !important;
    right: 15px !important;
    top: 21px !important;
}
.routes-and-schedules-accordion-content {
    display: none !important;
    padding: 15px !important;
    font-size: 14px !important;
    line-height: 22px !important;
}
.routes-and-schedules-accordion-pdf-link {
    color: red !important;
    text-decoration: underline !important;
    font-weight: bold !important;
    font-size: 20px !important;
    padding-right: 18px !important;
    background: transparent url(../img/pdf.gif) no-repeat center right !important;
}
.routes-and-schedules-accordion-pdf-link > span { font-style: italic !important }
.routes-and-schedules-accordion-map-img {
    padding: 4px !important;
    line-height: 20px !important;
    max-width: 100% !important;
    border: 1px solid #ddd !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055) !important;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055) !important;
    -webkit-transition: all 0.2s ease-in-out !important;
    -moz-transition: all 0.2s ease-in-out !important;
    -o-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
}
.routes-and-schedules-accordion-map-img:hover {
    border-color: #0088cc !important;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25) !important;
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25) !important;
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25) !important;
}
.routes-and-schedules-accordion-li-active { border-top: 3px solid #333399 !important }
.routes-and-schedules-accordion-li-active .routes-and-schedules-accordion-title {
    background: white !important;
    padding-top: 13px !important;
}
.routes-and-schedules-accordion-li-active .routes-and-schedules-accordion-title:after {
    content: "" !important;
    display: block !important;
    width: 0 !important;
    height: 0 !important;
    border: solid 6px !important;
    border-color: #9d9d9d transparent transparent transparent !important;
}
.routes-and-schedules-accordion-li-active .routes-and-schedules-accordion-content {
    background: white !important;
    display: block !important;
    border-left: 1px solid #e9e9e9 !important;
    border-right: 1px solid #e9e9e9 !important;
}